:root {
  --color-primary: #fd4766;
  --color-secondary: #337dff;
  --color-secondary-rgb: rgba(253, 71, 102, 1);
  --color-tertiary: #010001;
  --color-dark: #000000;
  --color-heading: #1f1f24;
  --color-body: #1d1d24;
  --color-gray: rgba(29, 29, 36, 0.75);
  --color-midgray: #e9ecef;
  --color-opacity-1: hsla(0, 0%, 100%, 0.2);
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-lightest: #f0f2f5;
  --color-border: #e6e6e6;
  --color-white: #ffffff;
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --color-extra01: #666666;
  --color-extra02: #606770;
  --color-extra03: #fbfbfd;
  --color-extra04: #1a1a1a;
  --color-extra05: #242424;
  --radius: 10px;
  --radius-big: 16px;
  --radius-small: 6px;
  --border-width: 2px;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-bold: 700;
  --s-black: 900;
  --shadow-primary: 0px 4px 10px rgba(37, 47, 63, 0.1);
  --shadow-light: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  --shadow-dark: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  --transition: 0.3s;
  --font-primary: "Poppins", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --font-awesome: "Font Awesome 5 Pro";
  --font-size-b1: 18px;
  --font-size-b2: 16px;
  --font-size-b3: 14px;
  --font-size-b4: 12px;
  --line-height-b1: 1.67;
  --line-height-b2: 1.5;
  --line-height-b3: 1.6;
  --line-height-b4: 1.3;
  --h1: 44px;
  --h2: 36px;
  --h3: 30px;
  --h4: 24px;
  --h5: 18px;
  --h6: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.4074;
  color: #1f1f25;
}

h4,
.h4,
h5,
.h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a {
  color: #ca3c08;
  text-decoration: none;
}

a:visited {
  color: #ac0404;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  color: #ea9626;
  outline: 0;
} */

/* ==== Spacing ==== */
.ptb--120 {
  padding: 120px 0;
}

.mt--40 {
  margin-top: 40px !important;
}

.mt--60 {
  margin-top: 60px !important;
}

.mb--15 {
  margin-bottom: 15px;
}

/* ==== Background ==== */
.bg_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg_image--3 {
  background-image: url(../img/bg-image-3.jpg);
}

/* ==== Row ==== */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row > [class*="col"] {
  padding-left: 15px;
  padding-right: 15px;
}

/* ==== Section Title ==== */
.section-title span.subtitle {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.section-title h2.title {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.section-title p {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-gray);
}

.section-title.service-style--3 p {
  padding: 0 21%;
  font-weight: 300;
  color: #717173;
}

.theme-gradient,
.section-title span.subtitle,
a.btn-transparent {
  background: var(--color-primary);
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--color-primary) 79.69%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="var(--color-primary)", endColorstr="var(--color-secondary)",GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

/* Button hover */
a.btn-default:hover,
button.btn-default:hover {
  transition: all 0.4s ease-in-out;
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

/* Image */
.thumbnail img {
  border-radius: 5px;
  box-shadow: 0 25px 65px rgb(0 0 0 / 10%);
}

/* header */
/* .mainmenunav .mainmenu > li:first-child {
  margin-left: 0;
} */

.header-area {
  background-color: red;
}

.header-area .header--transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 999;
}

.header-area .logo a {
  display: block;
}

.header-area .logo a img {
  max-height: 60px;
}

.mainmenunav .mainmenu {
  /* display: block; */
  height: 100%;
}

.mainmenunav .mainmenu > li {
  margin: 0 15px;
  position: relative;
}

.mainmenunav .mainmenu > li > a {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  display: inline-block;
}

.mainmenunav .mainmenu > li .submenu {
  min-width: 240px;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -2;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  box-shadow: 0 0 35px rgb(0 0 0 / 10%);
  text-align: left;
  padding: 12px 0;
  border-radius: 4px;
  transition: all 0.4s;
}

.mainmenunav .mainmenu > li .submenu li a {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #1f1f25;
  margin: 0 10px;
  border-radius: 3px;
  display: block;
}

.mainmenunav ul.mainmenu > li:hover > a {
  color: var(--color-primary);
}

.mainmenunav ul.mainmenu > li:hover > ul.submenu {
  opacity: 1;
  visibility: visible;
  z-index: 90;
}

.header-right .header-btn {
  margin-left: 50px;
}

a.btn-default,
button.btn-default {
  color: var(--color-white);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
}

a.btn-default.btn-border,
button.btn-default.btn-border {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

a.btn-default.btn-border.btn-opacity,
button.btn-default.btn-border.btn-opacity {
  border: 2px solid --color-opacity-1;
  color: var(--color-white);
}

a.btn-default.btn-border:hover,
button.btn-default.btn-border:hover {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

/* Slider */
.slider-activation {
  position: relative;
}
.slider-activation .slick-dots {
  bottom: 60px;
}
@media only screen and (max-width: 767px) {
  .slider-activation .slick-dots {
    bottom: 88px;
  }
}
.slider-activation button.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.5s;
  opacity: 1;
  width: 68px;
  height: 68px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-activation button.slick-arrow {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-activation button.slick-arrow {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .slider-activation button.slick-arrow {
    display: none !important;
  }
}
.slider-activation button.slick-arrow:hover {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.slider-activation button.slick-arrow::before {
  line-height: 1;
  opacity: 0.4;
  position: relative;
  top: -2px;
  transition: 0.5s;
  z-index: 2;
}
.slider-activation button.slick-arrow.slick-prev {
  left: 50px;
}
@media only screen and (max-width: 767px) {
  .slider-activation button.slick-arrow.slick-prev {
    left: 10px;
  }
}
.slider-activation button.slick-arrow.slick-prev::before {
  content: url(http://rainbowit.net/html/imroz/assets/images/icons/slick-arrow-left-small.png);
}
.slider-activation button.slick-arrow.slick-prev:hover {
  left: 30px;
}
@media only screen and (max-width: 767px) {
  .slider-activation button.slick-arrow.slick-prev:hover {
    left: 20px;
  }
}
.slider-activation button.slick-arrow.slick-prev:hover::before {
  opacity: 1;
}
.slider-activation button.slick-arrow.slick-next {
  left: auto;
  right: 50px;
}
@media only screen and (max-width: 767px) {
  .slider-activation button.slick-arrow.slick-next {
    right: 10px;
  }
}
.slider-activation button.slick-arrow.slick-next::before {
  content: url(http://rainbowit.net/html/imroz/assets/images/icons/slick-arrow-right-small.png);
}
.slider-activation button.slick-arrow.slick-next:hover {
  right: 30px;
}
@media only screen and (max-width: 767px) {
  .slider-activation button.slick-arrow.slick-next:hover {
    right: 20px;
  }
}
.slider-activation button.slick-arrow.slick-next:hover::before {
  opacity: 1;
}

.thumbnail img {
  border-radius: 5px;
  box-shadow: 0 25px 65px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .bg_image--25 {
    background-position: 70% center;
    background-attachment: scroll;
  }
}

/*--------------------------
Slick Animation For Slider  
-----------------------------*/
.slick-slide.slick-current .slide.slide-style-2 .inner h1.title {
  -webkit-animation: 800ms ease-in-out 0s normal none 1 running customOne;
  animation: 800ms ease-in-out 0s normal none 1 running customOne;
}
.slick-slide.slick-current .slide.slide-style-2 .inner p.description {
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running customOne;
  animation: 1000ms ease-in-out 0s normal none 1 running customOne;
}
.slick-slide.slick-current .slide.slide-style-2 .inner .slide-btn {
  -webkit-animation: 1200ms ease-in-out 0s normal none 1 running customOne;
  animation: 1200ms ease-in-out 0s normal none 1 running customOne;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*---------------------
    Box Model  
----------------------*/
.box-model .service-wrapper {
  background-image: url(/assets/images/bg/bg-image-1.jpg);
  padding: 10px 50px;
  border-radius: 6px;
  position: relative;
}

.box-model .service-wrapper .service {
  margin: 0;
}

.box-model .service-wrapper .service .icon {
  margin: auto;
  text-align: center;
}

.box-model .service-wrapper .service .content {
  text-align: center;
}

.box-model .service-wrapper:before {
  width: 90%;
  height: 80%;
  position: absolute;
  left: 0;
  bottom: -30px;
  content: "";
  background-color: var(--color-primary);
  z-index: -1;
  margin: auto;
  right: 0;
  border-radius: 20%;
  background-image: linear-gradient(
    145deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  filter: blur(30px);
}

.box-model .inner {
  text-align: center;
  margin-bottom: 60px;
}

.slider-digital-agency .slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* ==== Services ==== */
.service-area {
  padding: 120px 0;
  background: #fff;
}
.service-area .section-title {
  margin-bottom: 30px;
  text-align: center;
}

/* ==== Services Bottom ==== */
.service-main-wrapper .service.service__style--2,
.service-main-wrapper .service.service__style--1 {
  position: relative;
}

.service-main-wrapper .service.service__style--2 {
  padding: 30px 35px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  z-index: 2;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 30px;
}

/* @media only screen and (min-width: 1200px) and (max-width: 1599px) .service-main-wrapper .service.service__style--2 {
  padding: 30px 28px;
} */

.service-main-wrapper .service.service__style--2.bg-gray {
  background: #f6f6f6;
}

.service-main-wrapper .service.service__style--2 .icon {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 23px;
  color: var(--color-primary);
  text-align: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.service-main-wrapper .service.service__style--2.text-start .icon {
  justify-content: left;
}

.service-main-wrapper .service.service__style--2 .icon svg {
  stroke-width: 1;
  width: 47px;
  height: 47px;
}

.service-main-wrapper .service.service__style--2 .content h3.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.service-main-wrapper .service.service__style--2 .content p {
  color: var(--color-gray);
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
}

.service-main-wrapper
  > [class*="col"]:nth-child(2)
  .service.service__style--2
  .icon {
  color: var(--color-secondary);
}

.service-main-wrapper
  > [class*="col"]:nth-child(3)
  .service.service__style--2
  .icon {
  color: #12d8df;
}

.service-main-wrapper
  > [class*="col"]:nth-child(4)
  .service.service__style--2
  .icon {
  color: #59c98d;
}

.service-main-wrapper
  > [class*="col"]:nth-child(5)
  .service.service__style--2
  .icon {
  color: #6f41f6;
}

.service-main-wrapper .service.service__style--2.bg-gray:hover {
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
  transform: translateY(-5px);
}

/* ==== Portfolio ==== */
.im_portfolio {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.im_portfolio::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0),
    rgba(15, 15, 15, 0.75) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
}

.im_portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85%;
  display: block;
  z-index: 1;
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--color-primary) 100%
  );
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  cursor: pointer;
  opacity: 0;
}

.im_portfolio .thumbnail_inner .thumbnail a {
  display: block;
}

.im_portfolio .thumbnail_inner .thumbnail a img {
  transition: transform 1s ease, opacity 0.5s ease 0.25s;
  border-radius: 10px;
  width: 100%;
}

.im_portfolio .content .inner {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 30px;
  z-index: 2;
  width: 100%;
  transform: translateX(-50%);
}

.im_portfolio .content .inner .portfolio_heading {
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.im_portfolio .content .inner .portfolio_heading .category_list {
  margin: -5px;
  margin-bottom: 5px;
}

.im_portfolio .content .inner .portfolio_heading .category_list a {
  color: #ffffff;
  opacity: 0.7;
  display: inline-block;
  margin: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.im_portfolio .content .inner .portfolio_heading .title {
  color: #ffffff;
  font-size: 30px;
}

.im_portfolio .content .inner .portfolio_heading .title a {
  color: #ffffff;
}

.im_portfolio .content .inner .portfolio_hover {
  opacity: 0;
  position: absolute;
  bottom: 35px;
  margin-top: 10px;
  transform: translateY(20px);
  line-height: 1.5rem;
  max-width: 80%;
  transition: opacity 0.18s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.18s cubic-bezier(0.05, 0.2, 0.1, 1);
  height: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.im_portfolio .content .inner .portfolio_hover p {
  color: #ffffff;
  opacity: 0.7;
}

.transparent_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.im_portfolio:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 55px rgb(253 71 102 / 22%);
}

.im_portfolio:hover .thumbnail_inner .thumbnail a img {
  transform: scale(1.1);
}

.im_portfolio:hover .content .inner .portfolio_heading {
  transform: translateY(-62px);
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1),
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.im_portfolio:hover .content .inner .portfolio_hover {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s,
    transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1) 0.15s;
}

.im_portfolio:hover::after {
  opacity: 1;
}
